<html>

  <head>
    <title> PLANETARY IMAGE </title>
  </head>

  <body>
    <h1>
      Welcome, Travelers of the UNIVERSE!
    </h1>


    <h3>
      Enter your username below to proceed.
    </h3>
    <!-- when we submit something, we go to another page, linkage between front and back end, the route needs to match exactly with the route from python-->
    <form action="/auth" method="POST">
      <!-- the input box -->
      <input type="text" name="username">
      <input type="submit" name="sub1">
    </form>
    <br>
  </body>

</html>
